.header {
  display: flex;
  justify-content: space-between;
  padding: 3vh 3vw;
  background-color: #222;
  color: white;
}
.logout-btn {
  background-color: white;
  color: #222;
  padding: 0.5rem;
  border-radius: 5px;
}
.buttons{
  display: flex;
  justify-content: space-evenly;
}
.btn {
  width: 45vw;
  padding: 1rem;;
}
.upload-image {
  padding: 10vh 35vw;
  height: 80vh;
  line-height: 3rem;
  justify-content: center;
}

.upload-image>label {
  display: inline-block;
  width: 50px;
}

.text-input {
  border: none;
  border-radius: 2px;
  padding: 0.25rem;
}

.my-images>img{
  height: 100px;
  border: 2px solid white;
  margin: 10px;
  border-radius: 2px;
}
.my-images>h2{
  padding: 10vh 0;
}

.login-form {
  padding: 10vh 35vw;
  height: 80vh;
  line-height: 3rem;
  justify-content: center;
}
.login-form .btn {
  width: 120px;
  padding: 10px;
  margin: 10px 0;
}

.login-form input {
  width: 100%;
  padding: 8px;
  border: none;
  border-radius: 4px;
}
.btn.single-mode {
  margin-left: 10px;
}